# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# When you are using the docker-compose.yml provided, you can use the connection string example below:
# DATABASE_URL="postgresql://jonhdoe:jonhdoe@127.0.0.1:5432/dash"

# Use DB_USER and DB_PASSWORD in docker-compose.yml
DB_USER="blog_desafio"
DB_PASSWORD="blog_desafio@123"
DB_PORT="5439"

# Prisma
DATABASE_URL="postgresql://blog_desafio:blog_desafio@123@127.0.0.1:5439/blog_desafio"

#AuthJs
# Gerar um novo segredo com : npx authjs generate
AUTH_SECRET="bMKvtZjNJ7SrfsJe+s/sXScyFh2nD5GZQIY8+8EGr+g="
NEXT_PUBLIC_AUTH_LOGIN_REDIRECT="/dashboard"


NEXT_PUBLIC_URL=http://localhost:3000

NEXT_PUBLIC_API_URL=http://localhost:4000



# seed 
NAME_STRING=""
EMAIL_STRING=""
ADMIN_PASSWORD=""